@model Paginacion<Estudiante>
@using systemquchooch.Data;
@using systemquchooch.Models;
@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Estudiante</a>
</p>


<p>
    <a asp-controller="Estudiantes" asp-action="ImprimirEstudiantes" target="_blank" class="btn btn-success">Generar PDF</a>
</p>

<form asp-controller="Estudiantes" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-outline-success">Lista completa</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                FechaNacimieto
            </th>
            <th>
                Genero
            </th>
            <th>
                Estado
            </th>
            <th>
                Sector
            </th>
            <th>
                NumeroCasa
            </th>
            <th>
                Descripcion
            </th>
            <th>
                FotoPerfil
            </th>
            <th>
                FechaCreacion
            </th>
            <th>
                CodigoComunidadNavigation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimieto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoComunidadNavigation.CodigoComunidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoEstudiante">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoEstudiante">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoEstudiante">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div class="container mt-3">
    <ul class="pagination pagination-lg justify-content-end">
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @anteriordeshabilitado">Anterior</a>

        @for (var i = 1; i <= Model.PaginasTotales; i++)
        {
            var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
           asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaactiva">
                @i
            </a>
        }

        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
    </ul>
</div>