@model Paginacion<Gasto>
@using systemquchooch.Data;

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Gastos</h1>

<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="Gastoes" asp-action="Create">Nuevo Gasto</a>
    <a class="btn btn-success" asp-controller="Gastoes" asp-action="Index">Lista de Gastos</a>

</p>
<hr class="LineaRecta" />

<p>
    <a asp-controller="Gastoes" asp-action="ImprimirGastoes" target="_blank" class="btn btn-success">Generar PDF</a>
</p>

<form asp-controller="Gastoes" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-outline-success">Lista completa</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                TipoPago
            </th>
            <th>
                FechaEntrega
            </th>
            <th>
                NumeroDocumento
            </th>
            <th>
                Monto
            </th>
            <th>
                Descripcion
            </th>
            <th>
                CodigoEstudianteNavigation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEstudianteNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoGasto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoGasto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoGasto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div class="container mt-3">
    <ul class="pagination pagination-lg justify-content-end">
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @anteriordeshabilitado">Anterior</a>

        @for (var i = 1; i <= Model.PaginasTotales; i++)
        {
            var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
           asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaactiva">
                @i
            </a>
        }

        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
    </ul>
</div>
