@model Paginacion<Patrocinador>
@using systemquchooch.Data;
@using systemquchooch.Models;

@{
    ViewData["Title"] = "Index";
}

<!--<h1>Index</h1>-->

<h1 class="text-center">Lista de Patrocinadores</h1>

<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="Patrocinadors" asp-action="Create">Nuevo Patrocinador</a>
    <a class="btn btn-success" asp-controller="Patrocinadors" asp-action="Index">Lista de Patrocinadores</a>

</p>
<hr class="LineaRecta" />


<p>
    <a asp-controller="Patrocinadors" asp-action="ImprimirPatrocinador" target="_blank" class="btn btn-success">Generar PDF</a>
</p>

<form asp-controller="Patrocinadors" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-outline-success">Lista completa</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Estado
            </th>
            <th>
                FotoPerfil
            </th>
            <th>
                FechaNacimiento
            </th>
            <th>
                FechaCreacion
            </th>
            <th>
                CodigoNivelAcademicoNavigation
            </th>
            <th>
                CodigoPaisNavigation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoNivelAcademicoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPaisNavigation.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CodigoPatrocinador"><i class="fs-4 bi bi-pencil-fill text-success"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CodigoPatrocinador"><i class="fs-4 bi bi-eye-fill text-success"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CodigoPatrocinador"><i class="fs-4 bi bi-trash3-fill text-success"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div class="container mt-3">
    <ul class="pagination pagination-lg justify-content-end">
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @anteriordeshabilitado">Anterior</a>

        @for (var i = 1; i <= Model.PaginasTotales; i++)
        {
            var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
           asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaactiva">
                @i
            </a>
        }

        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
    </ul>
</div>

