@model IEnumerable<systemquchooch.Models.Patrocinador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoPerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoNivelAcademicoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPaisNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoNivelAcademicoNavigation.CodigoNivelAcademico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPaisNavigation.CodigoPais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoPatrocinador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoPatrocinador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoPatrocinador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
