@using systemquchooch.Data;
@using systemquchooch.Models;
@model Paginacion<Comunidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-controller="Comunidads" asp-action="ImprimirComunidad" target="_blank" class="btn btn-info text-white">Generar PDF</a>
</p>

<form asp-controller="Comunidads" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        <a asp-action="Index" class="btn btn-outline-info">Lista completa</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                NombreComunidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreComunidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoComunidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoComunidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoComunidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div class="container mt-3">
    <ul class="pagination pagination-lg justify-content-end">
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @anteriordeshabilitado">Anterior</a>

        @for (var i = 1; i <= Model.PaginasTotales; i++)
        {
            var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
           asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaactiva">
                @i
            </a>
        }

        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
    </ul>
</div>
