@model Paginacion<Tutorium>
@using systemquchooch.Data;

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Tutorías</h1>

<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="Tutoriums" asp-action="Create">Nueva Tutoría</a>
    <a class="btn btn-success" asp-controller="Tutoriums" asp-action="Index">Lista de Tutorías</a>

</p>
<hr class="LineaRecta" />

<p>
    <a asp-controller="Tutoriums" asp-action="ImprimirTutoria" target="_blank" class="btn btn-success">Generar PDF</a>
</p>
<form asp-controller="Tutoriums" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-outline-success">Lista completa</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                FechaCreacion
            </th>
            <th>
                HoraInicio
            </th>
            <th>
                HoraFinal
            </th>
            <th>
                Tema
            </th>
            <th>
                CodigoAreaNavigation
            </th>
            <th>
                CodigoCursoNavigation
            </th>
            <th>
                CodigoTutorNavigation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoAreaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCursoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTutorNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoTutoria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoTutoria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoTutoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div class="container mt-3">
    <ul class="pagination pagination-lg justify-content-end">
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @anteriordeshabilitado">Anterior</a>

        @for (var i = 1; i <= Model.PaginasTotales; i++)
        {
            var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
           asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaactiva">
                @i
            </a>
        }

        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
    </ul>
</div>