@model Paginacion<Area>
@using systemquchooch.Data;
@using systemquchooch.Models;
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Areas</h1>

<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="Areas" asp-action="Create">Nueva Area</a>
    <a class="btn btn-success" asp-controller="Areas" asp-action="Index">Lista de Areas</a>

</p>
<hr class="LineaRecta" />

<p>
    <a asp-controller="Areas" asp-action="ImprimirArea" target="_blank" class="btn btn-success">Generar PDF</a>

     <form asp-controller="Areas" asp-action="Index">
        <p>
            Buscar: <input type="text" name="buscar" class="form-text" />
            <input type="submit" value="Buscar" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-outline-success">Lista completa</a>
        </p>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.CodigoArea"><i class="fs-4 bi bi-pencil-fill text-success"></i></a>
                        <a asp-action="Details" asp-route-id="@item.CodigoArea"><i class="fs-4 bi bi-eye-fill text-success"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.CodigoArea"><i class="fs-4 bi bi-trash3-fill text-success"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

    @{
        var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
        var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
    }

    <div class="container mt-3">
        <ul class="pagination pagination-lg justify-content-end">
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
               asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
               class="btn btn-primary @anteriordeshabilitado">Anterior</a>

            @for (var i = 1; i <= Model.PaginasTotales; i++)
            {
                var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
                <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
               asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaactiva">
                    @i
                </a>
            }

            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
               asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
               class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
        </ul>
    </div>
