@model IEnumerable<systemquchooch.Models.EstudianteTutorium>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Estudiantes-Tutorías</h1>

<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="EstudianteTutoriums" asp-action="Create">Nuevo Estudiante-Tutoría</a>
    <a class="btn btn-success" asp-controller="EstudianteTutoriums" asp-action="Index">Lista de Estudiantes-Tutorías</a>

</p>
<hr class="LineaRecta" />

<p>
    <a asp-controller="EstudianteTutoriums" asp-action="ImprimirEstudiante_tutoria" target="_blank" class="btn btn-success">Generar PDF</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEstudianteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoTutoriaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEstudianteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTutoriaNavigation.CodigoTutoria)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CodigoEstudianteTutoria"><i class="fs-4 bi bi-pencil-fill text-success"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CodigoEstudianteTutoria"><i class="fs-4 bi bi-eye-fill text-success"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CodigoEstudianteTutoria"><i class="fs-4 bi bi-trash3-fill text-success"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
