@model IEnumerable<systemquchooch.Models.ImagenAdicional>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgAdicional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoFichaCalificacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImgAdicional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoFichaCalificacionNavigation.CodigoFichaCalificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoImagenAdicional">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoImagenAdicional">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoImagenAdicional">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
