@model IEnumerable<systemquchooch.Models.HistorialEstudiante>

@{
    ViewData["Title"] = "ImprimirHistorialEstudiante";
}
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirHistorialEstudiante</title>

    <style>

        table.tbproductos {
            border-collapse: collapse;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #2980B9;
                padding: 6px;
                font-size: 15px;
                color: white;
                text-align: center;
                border: 1px solid #34495E;
            }

            table.tbproductos tbody tr td {
                padding: 10px;
                background-color: #D4E6F1;
                text-align: center;
                border: 1px solid #34495E;
            }


        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }
    </style>
</head>

<body>
    <div class="row">
        <div clas="col-sm-4">
            <img src="~/imagenes/logo.jpeg" style="width: 250px;" />
        </div>
        <div class="col-sm-8 text-right">
            <h2> Listado de Historial Estudiante</h2>
        </div>
    </div>

    <table class="tbproductos" style="width:100%">
        <thead>
            <tr>
                <th class="tbth">  #  </th>
                <th class="tbth">  Estudiante </th>
                <th class="tbth">  Nivel Academico  </th>
                <th class="tbth">  Grado  </th>
                <th class="tbth">  Carrera  </th>
                 <th class="tbth"> Establecimiento  </th>
                <th class="tbth">  Fecha creacion  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoHistorialEstudiante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoEstudiante)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.CodigoNivelAcademico)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoGrado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoCarrera)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoEstablecimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>

