@model IEnumerable<systemquchooch.Models.HistorialEstudiante>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Historial de Estudiantes</h1>

<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="HistorialEstudiantes" asp-action="Create">Nuevo Historial de Estudiante</a>
    <a class="btn btn-success" asp-controller="HistorialEstudiantes" asp-action="Index">Lista de Historial de Estudiantes</a>

</p>
<hr class="LineaRecta" />


<p>
    <a asp-controller="HistorialEstudiantes" asp-action="ImprimirHistorialEstudiante" target="_blank" class="btn btn-success" >Generar PDF</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCarreraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEstablecimientoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEstudianteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoGradoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCarreraNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEstablecimientoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEstudianteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoGradoNavigation.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CodigoHistorialEstudiante"><i class="fs-4 bi bi-pencil-fill text-success"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CodigoHistorialEstudiante"><i class="fs-4 bi bi-eye-fill text-success"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CodigoHistorialEstudiante"><i class="fs-4 bi bi-trash3-fill text-success"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
