@model IEnumerable<systemquchooch.Models.EstudiantePatrocinador>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Estudiantes-Patrocinadores</h1>

<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="EstudiantePatrocinadors" asp-action="Create">Nuevo Estudiante-Patrocinador</a>
    <a class="btn btn-success" asp-controller="EstudiantePatrocinadors" asp-action="Index">Lista de Estudiantes-Patrocinadores</a>

</p>
<hr class="LineaRecta" />

<p>
    <a asp-controller="EstudiantePatrocinadors" asp-action="ImprimirEstudiantePatrocinadors" target="_blank" class="btn btn-success">Generar PDF</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEstudianteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPatrocinadorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEstudianteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPatrocinadorNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoEstudiantePatrocinador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoEstudiantePatrocinador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoEstudiantePatrocinador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
